/* --------- MEYER'S RESET --------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
    vertical-align: baseline;
    color: var(--darkBlue);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

span {
    font-size: 22px;
    display: inline-flex;
}


/* --------- Colors --------- */
:root {
    --darkCyan:#19A2AE;
    --darkBlue: hsl(229, 23%, 23%);
    --darkGrayBlue: hsl(227, 10%, 46%);
}

/* --------- Main --------- */
.container {
    align-items: center;
    background-color: var(--darkCyan);
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-position: right 55vw bottom 40vh, left 45vw top 60vh;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; 
    width: 100vw;
}

/* --------- Card --------- */
.card {
    width: 340px;
    background: transparent;
    display: block;

}

/* --------- Card Contents --------- */
.upper-banner {
    background-image: url(./images/bg-pattern-card.svg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
}

.lower-banner {
    background-color: white;
    height: 150px;
    border-bottom: 1px solid var(--darkGrayBlue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lower-banner-content {
    padding-top: 50px;
}

.lower-banner p {
    margin-top: 12px;
    font-size: 16px;
    color: var(--darkGrayBlue);
}

.card-details {
    height: 90px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.avatar-img {
    border: 4px solid #fff;
    border-radius: 50%;
    position: relative;
    bottom: -96px;
    right: -120px;
}

.detailed-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailed-section p {
    padding-top:8px;
    font-size: 14px;
    color: var(--darkGrayBlue);
}

.span-title,
.span-content-title {
    font-weight: 700; 
    color: var(--darkBlue) !important;
}

.span-title {
    padding-right: 4px;
}

/* --------- Attribution --------- */
.attribution {
    margin:20px;
}